<title>Clean Blog</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <%= image_tag("restaurant1.jpg") %>
                <p class="post-meta">Restaurant by <a href="#"></a> on September 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I dointend to waste any of mine.
                    </h2>
                    <%= image_tag("restaurant2.jpg") %>
                <p class="post-meta">Restaurant by <a href="#"></a> on September 18, 2014</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<%= render 'footer' %>