<title>Clean Blog</title>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-lg-4">
                  <%= image_tag "restaurant1.jpg" , class: "img-circle", height: '250', width: '250' %>
                  <h2>Name</h2>
                  <p>Description.</p>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <%= image_tag "restaurant1.jpg" , class: "img-circle", height: '250', width: '250' %>
                  <h2>Name</h2>
                  <p>Description.</p>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <%= image_tag "restaurant1.jpg" , class: "img-circle", height: '250', width: '250' %>
                  <h2>Name</h2>
                  <p>Description.</p>
                  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <%= link_to "all Restaurants", establishments_path %>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>
