<div class="thumbnail">
  <div class="row">
    <div class="col-md-6">
      <center><%= image_tag @establishment.image.url(:medium),class: "img-rounded", height: '300', width: '300'%>
        <div class="star-rating" data-score= <%= @avg_comment %> ></div>
        <em><%= "#{@comments.length} comments" %></em>
      </center>  
      <div class="caption">
        <h3><%= @establishment.name %></h3>
        <hr>
        <h4>
          <strong><%= @establishment.description %></strong>
        </h4>
        <p>
          <strong>Kind of food:</strong>
          <%= @establishment.kind_of_food %>
        </p>
        <p>
          <strong>Website:</strong>
          <%= @establishment.website %>
        </p>
        <p>
          <strong>Phone:</strong>
          <%= @establishment.phone %>
        </p>
        <hr>
        <h3 class="title">Comments</h3>
        <% if @comments.blank? %>
          <h5>No comments just yet, would you like to add the first!</h5>
        <% else %>
          <% @comments.each do |comment| %>
            <div class="title">
              <div class="star-rating" data-score= <%= comment.score %> ></div>
              <p><%= comment.body %></p>
            </div>
          <% end %>
        <% end %>
        <p><%= link_to "Write a Review", new_establishment_comment_path(@establishment), class: "btn btn-default" %></p>
        <p><%= link_to 'Back', establishments_path, class: "btn btn-default"%></p> 
      </div>
    </div>
    <div class="col-md-6">
      <h3>Location</h3>
      <hr>
      <% @locations.each do |location| %>
        <div>
          <h4><b><%= location.address %></b></h4>
        </div>
      <% end %>
      <div class="row">
        <div style='width: 800px;'>
          <div id="map" style='width: 500px; height: 420px;'></div>
        </div>
          <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(18);
            });
          </script>
      </div>
    </div>
  </div>
</div>

<script>
    $('.star-rating').raty({
      starOn: '<%= image_path('star-on.png') %>',
      starOff: '<%= image_path('star-off.png') %>',
      starHalf: '<%= image_path('star-half.png') %>',
      path: '',
      scoreName: 'score',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
