<div class="row">
  <div class=".col-md-6 .col-md-offset-3">
    <div class="thumbnail">
      <%= image_tag @establishment.image.url(:medium),class: "img-rounded", height: '300', width: '300'%>
      <div class="caption">
        <h3 class="title"><%= @establishment.name %></h3>
        <p>
          <strong>Kind of food:</strong>
          <%= @establishment.kind_of_food %>
        </p>

        <p>
          <strong>Website:</strong>
          <%= @establishment.website %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @establishment.phone %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @establishment.address %>
        </p>
        <p><%= link_to 'Back', establishments_path, class: "btn btn-danger"%></p> 
      </div>
    </div>
  </div>
</div>