<!DOCTYPE html>
<html>
  <head>
    <title>Akuri</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo_akuri.jpg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiMwkJq_nPEBsa3a-WAL2TWnyS2mt7oUQ&libraries=places&sensor=false"></script>
  </head>

  <body>
    <%= render 'welcome/shim' %>
    <%= render 'welcome/navigation' %>
    <div class="container main-container padding"> 
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class(type.to_s) %>">
            <button class="close" data-dismiss="alert"> x </button>
            <%= message %>
        </div>
      <% end %>

      <%= yield %>
      <%= render 'welcome/footer' %>
    </div> 
  </body>
</html>
